* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #c2cae0;
}

.header {
    font-family: papyrus;
 
.header h1 {
    color: rgb(130, 48, 130);
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

}
.background {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

h2{
    text-align: left;
    color: rgb(87, 75, 138);
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
p {
    text-align: right;
}

.myphoto {
    height: 200px;
}