* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #c2cae0;
    width: 100vw;
    height: 100vh;
}

.header {
    font-family: papyrus;
    color: rgb(160, 98, 160);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 50px;
}

.background {
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}
/* This shows the section classes which corresponds to my AboutMe, Work and Contact Me Ids */
.Section {
    display: flex;
    margin-bottom: 40px;
}

.Section2 {
    width: 18%;
}

.SectionContent {
    display: flex;
    padding-left: 10%;
    width: 85%;
}

main h2{
    color: rgb(87, 75, 138);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
#AboutMe {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.myphoto {
    height: 200px;
    border-radius: 50%;
}

/* My Ids under the Work section */
#Work {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#WorkImages {
    display: flex;
    flex-wrap: wrap;
}

.OtherProjects {
width: 400px;
flex-direction: column;
}

.project1 {
    height: 400px;
    display: flex;
    justify-content: space-evenly;

}
.box {
    width: 300px;
    height: 150px;
    margin: 10px;
    border: 3px solid black;
    background-color: rgba(188, 156, 202, 0.768);
    align-self: center;
}

.project3 {
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;

}

#ContactMe {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#ContactMe p {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px
  
}

#ContactMe2 {
    display: flex;
}

.ContactMe3 {
    margin-right: 30px;
}
@media screen and (max-width: 768px) {

    #WorkImages {
        flex-direction: column;
    }

    .Section {
        flex-direction: column;
        align-items: center;
    }

  .Section2 {
    text-align: center;
  }
}